# Python Notebook

Perhaps the most well-known statement type is the if statement. For example:

In [7]:
age = int(input("Enter your age"))

if age < 18:
    print("Underage")
    
elif age >= 18 and age <= 59:
    print("Adult")

elif age >= 60:
    print("Senior Citizen")

else:
    print("Invalid Age")

Enter your age 60

Senior Citizen

# For statement iterates over the items over a list

In [10]:
fruits = ['Apple', 'Banana', 'Mango', 'Orange']

for f in fruits:
    print(f, len(fruits))

Apple 4
Banana 4
Mango 4
Orange 4

# Changing the size of the dictionary using For Loop

In [12]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

        print(user)

Éléonore

In [13]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

        print(active_users)

{'Hans': 'active'}
{'Hans': 'active', '景太郎': 'active'}

# The range() Function

 If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [14]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [17]:
L = list(range(5,10))
print(L)

[5, 6, 7, 8, 9]

In [18]:
A = list(range(10,99,3))
print(A)

[10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]

In [22]:
U = list(range(-10,-25,-2))
print(U)

[-10, -12, -14, -16, -18, -20, -22, -24]

In [24]:
words = ['Marry', 'had', 'a', 'little', 'lamb']

for i, word in enumerate(words):
    print(i, word)

0 Marry
1 had
2 a
3 little
4 lamb

In [25]:
# We have used SUM function to calculate the sum of the range

sum(range(40))

780

# Break and Continue Statements

The break statement breaks out of the innermost enclosing for or while loop:

In [32]:
items = ["Candy", "Apple", "Golden Ticket", "Bat", "Ball"]

for i, item in enumerate(items):
    print(i,item)

    if item == "Golden Ticket":
        print("Braking out of the loop")
        break
print("Loop is finished")

0 Candy
1 Apple
2 Golden Ticket
Braking out of the loop
Loop is finished

In [38]:
items = ["Candy", "Apple", "Golden Ticket", "Bat", "Ball"]

for item in items:
    if item == "Apple":
        print("Not in the mood to eat apple")
        continue

    print(f"Checking: {item}")

Checking: Candy
Not in the mood to eat apple
Checking: Golden Ticket
Checking: Bat
Checking: Ball

# Pass Statements

The pass statement does nothing. It can be used when a statement is required syntactically but the program requires no action. For example:

In [ ]:
while true:
    pass

In [ ]:
class MyEmptyClass:
    pass

# Match Statements

match statement is a more powerful version of switch-case statements found in java or any other languages, unlike simple switch
that compare values match can look on the structure of data (like checking length of a list or keys in the dictionary)

In [39]:
day = 4
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")

Thursday

In [43]:
day = 8
match day:
    case 1|2|3|4|5:
        print("Today is a weekday")
    case 6|7:
        print("I love weekends")
    case _:
        print("Happy New Year")

Happy New Year

In [47]:
month = 5
day = 8
match day:
    case 1|2|3|4|5 if month == 4:
        print("Weekday of April")
    case 1|2|3|4|5 if month == 5:
        print("Weekday of May")
    case _:    
        print("No Match")

No Match

# Defining Functions

In [53]:
def fib(n):
    a,b = 0,1
    while a < n:
        print(a, end = " ") # with the use of end output will print on a single line not in multiple lines
        a,b = b, a+b
    print()

fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [60]:
def fib2(n):
    result = []
    a,b = 0,1
    while a < n:
        result.append(a)
        a,b = b, a+b
    return result
fb100 = fib2(100)
print(fb100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# Keyword and Positional Argument

Keyword arguments mean you pass values by parameter names while calling the function.

In [6]:
def profile(name,age):
    print("My name is ", name)
    print("My age is ", age)

profile(name = "Suman", age = "20")    
profile(age = "21", name = "Abhinav")

In [9]:
def add (a,b):
    return a + b

print(add(5,10))

15

# Lambda Functions

Lambda Functions are anonymous functions means that the function is without a name. As we already know def keyword is used to define a normal function in Python. Similarly, lambda keyword is used to define an anonymous function in Python.

In [11]:
n = lambda x: "Positive" if x > 0 else "Negative" if x < 0 else "Zero"
print(n(5))
print(n(-10))
print(n(0))

Positive
Negative
Zero

In [17]:
check = lambda x : "Even" if x % 2 == 0 else "odd"
print(check(4))
print(check(3))

Even
odd

In [18]:
calc = lambda x,y: (x + y, x * y)
res = calc(3, 4)
print(res)

(7, 12)

In [20]:
n = [1,2,3,4,5,6]
even = filter(lambda x: x%2==0, n)
print(list(even))

[2, 4, 6]

In [23]:
n = [1,2,3,4,5]
Triple = map(lambda x: x * 3, n)
print(list(Triple))

[3, 6, 9, 12, 15]