# Python Notebook

Perhaps the most well-known statement type is the if statement. For example:

In [7]:
age = int(input("Enter your age"))

if age < 18:
    print("Underage")
    
elif age >= 18 and age <= 59:
    print("Adult")

elif age >= 60:
    print("Senior Citizen")

else:
    print("Invalid Age")

Enter your age 60

Senior Citizen

# For statement iterates over the items over a list

In [10]:
fruits = ['Apple', 'Banana', 'Mango', 'Orange']

for f in fruits:
    print(f, len(fruits))

Apple 4
Banana 4
Mango 4
Orange 4

# Changing the size of the dictionary using For Loop

In [12]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

        print(user)

Éléonore

In [13]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

        print(active_users)

{'Hans': 'active'}
{'Hans': 'active', '景太郎': 'active'}

# The range() Function

 If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [14]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [17]:
L = list(range(5,10))
print(L)

[5, 6, 7, 8, 9]

In [18]:
A = list(range(10,99,3))
print(A)

[10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]

In [22]:
U = list(range(-10,-25,-2))
print(U)

[-10, -12, -14, -16, -18, -20, -22, -24]

In [24]:
words = ['Marry', 'had', 'a', 'little', 'lamb']

for i, word in enumerate(words):
    print(i, word)

0 Marry
1 had
2 a
3 little
4 lamb

In [25]:
# We have used SUM function to calculate the sum of the range

sum(range(40))

780

# Break and Continue Statements

The break statement breaks out of the innermost enclosing for or while loop:

In [32]:
items = ["Candy", "Apple", "Golden Ticket", "Bat", "Ball"]

for i, item in enumerate(items):
    print(i,item)

    if item == "Golden Ticket":
        print("Braking out of the loop")
        break
print("Loop is finished")

0 Candy
1 Apple
2 Golden Ticket
Braking out of the loop
Loop is finished

In [38]:
items = ["Candy", "Apple", "Golden Ticket", "Bat", "Ball"]

for item in items:
    if item == "Apple":
        print("Not in the mood to eat apple")
        continue

    print(f"Checking: {item}")

Checking: Candy
Not in the mood to eat apple
Checking: Golden Ticket
Checking: Bat
Checking: Ball